
.container{
  height:100vh;
  position: relative;
  animation-name: move;
  animation-duration: 5s;
}

h1 {
  color: rgb(83, 233, 83);
  letter-spacing: .5rem;
  &:hover {
    color: blue;
    transition:move 5s ease;
    
    // font-size: 4rem;
  }
}

@keyframes move {
  0% {top:0px; left:0px}
  100% {top:1000px; left:0px}
 }